.watch {
    width: 100vw;
    height: 100vh;

    .video {
        object-fit: cover;
        height: 100%;
        width: 100%;

    }

    .back {
        display: flex;
        position: absolute;
        top: 10px;
        left: 10px;
        color: #fff;
        cursor: pointer;
        z-index: 2;
        align-items: center;


    }
}